<a href="https://colab.research.google.com/github/aladino24/artificial_intelligence_orbit/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
kode_negara = {'India' : 'ind', 'Indonesia' : 'ina'}
print(kode_negara)

{'India': 'ind', 'Indonesia': 'ina'}

In [ ]:
# mengetahui tipe data
print(type(kode_negara))

<class 'dict'>

In [ ]:
# menampilkan value berdasarkan key
print(kode_negara['India'])

ind

In [ ]:
# menambahkan jika belum ada dan update jika sudah ada
kode_negara['China'] = 'chn'
kode_negara['Indonesia'] = 'idn'
kode_negara['Contoh'] = 'cpy'
print(kode_negara)

{'India': 'ind', 'Indonesia': 'idn', 'China': 'chn', 'Contoh': 'cpy'}

In [ ]:
# menghapus dictionary
del kode_negara['Contoh']
print(kode_negara)

{'India': 'ind', 'Indonesia': 'idn', 'China': 'chn'}

In [ ]:
# menghitung jumlah elemen yang ada di dictionary
print(len(kode_negara))

3

In [ ]:
# mencari apakah key tersebut ada dalam dictionary (return bool)
print('India' in kode_negara)

True

In [ ]:
# menampilkan daftar key didalam dictionary
kunci = kode_negara.keys()
print(kunci)

dict_keys(['India', 'Indonesia', 'China'])

In [ ]:
# menampilkan daftar nilai(value) dalam dictionary
nilai = kode_negara.values()
print(nilai)

dict_values(['ind', 'idn', 'chn'])

In [11]:
# menampilkan key sekaligus valuenya
data = kode_negara.items()
print(data)

dict_items([('India', 'ind'), ('Indonesia', 'idn'), ('China', 'chn')])

In [3]:
# create nested dictionary
daerah = {
    'China' : 'Beijing',
    'Indonesia' : {
        'Jabar' : 'Bandung',
        'Jateng' : 'Semarang',
        'Jatim' : 'Surabaya'
    },
    'Jepang' : 'Tokyo'
}

print(daerah)

{'China': 'Beijing', 'Indonesia': {'Jabar': 'Bandung', 'Jateng': 'Semarang', 'Jatim': 'Surabaya'}, 'Jepang': 'Tokyo'}

In [4]:
# menampilkan nested dictionary
print(daerah['Indonesia']['Jabar'])

Bandung

In [5]:
# mengcopy dictionary antar variabel
data1 = {'nama' : 'Agus', 'Kelas' : 'Orion'}
data2 = data1.copy()

print(data2)

{'nama': 'Agus', 'Kelas': 'Orion'}

In [6]:
# mencari value dari key
kelas = data1.get('Kelas')
print(kelas)

Orion

In [8]:
# update dictionary
data1.update({'nilai' : 90, 'Kelas' : 'waluku','Hobi' : 'Membaca'})
print(data1)

{'nama': 'Agus', 'Kelas': 'waluku', 'nilai': 90, 'Hobi': 'Membaca'}

In [9]:
# menghapus data dictionary berdasarkan key
data1.pop('Hobi')
print(data1)

{'nama': 'Agus', 'Kelas': 'waluku', 'nilai': 90}

In [10]:
# menghapus elemen terakhir
data1.popitem()
print(data1)

{'nama': 'Agus', 'Kelas': 'waluku'}

In [11]:
# membersihkan atau menghapus semua data
data1.clear()
print(data1)

{}