<a href="https://colab.research.google.com/github/aladino24/artificial_intelligence_orbit/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
kode_negara = {'India' : 'ind', 'Indonesia' : 'ina'}
print(kode_negara)

{'India': 'ind', 'Indonesia': 'ina'}

In [4]:
# mengetahui tipe data
print(type(kode_negara))

<class 'dict'>

In [5]:
# menampilkan value berdasarkan key
print(kode_negara['India'])

ind